.home-container {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.2) 12%,rgba(0,0,0,.2) 88%,rgba(0,0,0,.5)), url(./home.jpg);
    background-size: 1440px;
    
  }
  
  .home-inner {
    height: 644.17px;
    color: #fff;
    position: relative;
    padding: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: left;
    flex-direction: column;
    min-height: 78vh;
  }
  
  .home-search{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 1020px;
    margin: auto;
    padding: 0 10px;
  }
  
  .home-searchField{
    position: relative;
    margin:auto;
    padding: 10px 5px
  }

  .form-control{
    height: 58px;
    margin: 20px 0px; 
  }
  .search-button{
    height: 58px;
    width: 140px;
    border-radius: 40px;
    margin: 20px 0px;
    background-color: #0067db;
    cursor: pointer;
  }
  